<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GBRF_JAVA</display-name>
  <servlet>
    <servlet-name>LoginCtl</servlet-name>
    <servlet-class>com.ncs.ctl.LoginCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCtl</servlet-name>
    <url-pattern>/LoginCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeCtl</servlet-name>
    <servlet-class>com.ncs.ctl.WelcomeCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeCtl</servlet-name>
    <url-pattern>/WelcomeCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InviteCtl</servlet-name>
    <servlet-class>com.ncs.ctl.InviteCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InviteCtl</servlet-name>
    <url-pattern>/InviteCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikesCtl</servlet-name>
    <servlet-class>com.ncs.ctl.LikesCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikesCtl</servlet-name>
    <url-pattern>/LikesCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikesListCtl</servlet-name>
    <servlet-class>com.ncs.ctl.LikesListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikesListCtl</servlet-name>
    <url-pattern>/LikesListCtl</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AwardOneListCtl</servlet-name>
    <servlet-class>com.ncs.ctl.AwardOneListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AwardOneListCtl</servlet-name>
    <url-pattern>/AwardOneListCtl</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>